In [1]:
#Import pandas
import pandas as pd

In [3]:
#Create a data dictionary
data={'Position': ['GK','GK','GK', 'DF','DF','DF','MF','MF','MF','CF','CF','CF'],
       'Name': ['De Gea', 'Coutois', 'Allison', 'Chiellini','Ramos','Godin','Hazard','Kante','De Bruyne','Ronaldo','Messi','Neymar'],
       'Overall': ['91','88','89','89','91','90','91','90','92','94','93','92'],
       'Rank': ['1st','3rd','2nd','3rd','1st','2nd','2nd','3rd','1st','1st','2nd','3rd']}

In [4]:
#Create a Dataframe
fifa19=pd.DataFrame(data, columns=['Position','Name','Overall','Rank'])

In [5]:
fifa19

   Position       Name Overall Rank
0        GK     De Gea      91  1st
1        GK    Coutois      88  3rd
2        GK    Allison      89  2nd
3        DF  Chiellini      89  3rd
4        DF      Ramos      91  1st
5        DF      Godin      90  2nd
6        MF     Hazard      91  2nd
7        MF      Kante      90  3rd
8        MF  De Bruyne      92  1st
9        CF    Ronaldo      94  1st
10       CF      Messi      93  2nd
11       CF     Neymar      92  3rd

In [6]:
fifa19=fifa19.set_index(['Position','Rank'])

In [7]:
#Cheack if it is multiIndexed
fifa19.index

MultiIndex(levels=[['CF', 'DF', 'GK', 'MF'], ['1st', '2nd', '3rd']],
           codes=[[2, 2, 2, 1, 1, 1, 3, 3, 3, 0, 0, 0], [0, 2, 1, 2, 0, 1, 1, 2, 0, 0, 1, 2]],
           names=['Position', 'Rank'])

In [8]:
#Sort dataframe
fifa19.sort_index()

                    Name Overall
Position Rank
CF       1st     Ronaldo      94
         2nd       Messi      93
         3rd      Neymar      92
DF       1st       Ramos      91
         2nd       Godin      90
         3rd   Chiellini      89
GK       1st      De Gea      91
         2nd     Allison      89
         3rd     Coutois      88
MF       1st   De Bruyne      92
         2nd      Hazard      91
         3rd       Kante      90

In [9]:
#Slice Goalkeeper and Midfielder rows
fifa19.loc[['GK','MF']]

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92

In [10]:
#Slice the highest rated players of all positions
fifa19.loc[(slice(None),'1st'),:]

                    Name Overall
Position Rank
GK       1st      De Gea      91
DF       1st       Ramos      91
MF       1st   De Bruyne      92
CF       1st     Ronaldo      94

In [11]:
#slice 2nd rated players in all positions
fifa19.loc[(slice(None),'2nd'),:]

                  Name Overall
Position Rank
GK       2nd   Allison      89
DF       2nd     Godin      90
MF       2nd    Hazard      91
CF       2nd     Messi      93

In [12]:
#Slice only GK
fifa19.loc['GK']

         Name Overall
Rank
1st    De Gea      91
3rd   Coutois      88
2nd   Allison      89

In [13]:
#Slice the highest rated goalkeeper
fifa19.loc[('GK', '1st')]

Name       De Gea
Overall        91
Name: (GK, 1st), dtype: object

In [14]:
#Slice the overall attribute of the 2nd best gaolkeeper
fifa19.loc[('GK','2nd'), 'Overall']

'89'

In [15]:
#Adding an additional column
fifa19.loc[('GK','3rd'),['Name','Overall']]

Name       Coutois
Overall         88
Name: (GK, 3rd), dtype: object

In [16]:
fifa19.loc[['GK','MF']]

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92

In [17]:
#Slice the best GK and MF
fifa19.loc[(['GK','MF'],'1st'),:]

                    Name Overall
Position Rank
GK       1st      De Gea      91
MF       1st   De Bruyne      92

In [18]:
fifa19.loc[(['GK','MF'],'3rd'), 'Name']

Position  Rank
GK        3rd     Coutois
MF        3rd       Kante
Name: Name, dtype: object

In [19]:
#Inner level slicing
fifa19.loc[('GK',['1st','3rd']),:]

                  Name Overall
Position Rank
GK       1st    De Gea      91
         3rd   Coutois      88

In [20]:
fifa19.loc[(['MF','CF'], '2nd'), :]

                 Name Overall
Position Rank
MF       2nd   Hazard      91
CF       2nd    Messi      93

Next tutorial will be on Pivoting, Pivot tables, Stacking and Unstacking

pivoting is the process of reshaping dataframes so that it is easier to see the relationship between different columns

In [21]:
fifa19

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
DF       3rd   Chiellini      89
         1st       Ramos      91
         2nd       Godin      90
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92
CF       1st     Ronaldo      94
         2nd       Messi      93
         3rd      Neymar      92

In [22]:
fifa19['Category'] = ['100','90','90','80','90','100','80','100','90','80','100','80']

In [23]:
fifa19

                    Name Overall Category
Position Rank
GK       1st      De Gea      91      100
         3rd     Coutois      88       90
         2nd     Allison      89       90
DF       3rd   Chiellini      89       80
         1st       Ramos      91       90
         2nd       Godin      90      100
MF       2nd      Hazard      91       80
         3rd       Kante      90      100
         1st   De Bruyne      92       90
CF       1st     Ronaldo      94       80
         2nd       Messi      93      100
         3rd      Neymar      92       80

In [24]:
fifa19

                    Name Overall Category
Position Rank
GK       1st      De Gea      91      100
         3rd     Coutois      88       90
         2nd     Allison      89       90
DF       3rd   Chiellini      89       80
         1st       Ramos      91       90
         2nd       Godin      90      100
MF       2nd      Hazard      91       80
         3rd       Kante      90      100
         1st   De Bruyne      92       90
CF       1st     Ronaldo      94       80
         2nd       Messi      93      100
         3rd      Neymar      92       80

In [25]:
del fifa19['Category']

In [26]:
fifa19

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
DF       3rd   Chiellini      89
         1st       Ramos      91
         2nd       Godin      90
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92
CF       1st     Ronaldo      94
         2nd       Messi      93
         3rd      Neymar      92

In [27]:
fifa19.loc['GK']

         Name Overall
Rank
1st    De Gea      91
3rd   Coutois      88
2nd   Allison      89

In [28]:
swapped = fifa19.swaplevel(0,1)
swapped

                    Name Overall
Rank Position
1st  GK           De Gea      91
3rd  GK          Coutois      88
2nd  GK          Allison      89
3rd  DF        Chiellini      89
1st  DF            Ramos      91
2nd  DF            Godin      90
     MF           Hazard      91
3rd  MF            Kante      90
1st  MF        De Bruyne      92
     CF          Ronaldo      94
2nd  CF            Messi      93
3rd  CF           Neymar      92

## Swapping Levels

Sometimes, after arriving at a multiindex, we want to change the positions of the indexes to make analysis easier. We do this by using <code>.swaplevel()</code>.

In [30]:
swapped = swapped.swaplevel(0,1)
swapped

                    Name Overall
Rank Position
1st  GK           De Gea      91
3rd  GK          Coutois      88
2nd  GK          Allison      89
3rd  DF        Chiellini      89
1st  DF            Ramos      91
2nd  DF            Godin      90
     MF           Hazard      91
3rd  MF            Kante      90
1st  MF        De Bruyne      92
     CF          Ronaldo      94
2nd  CF            Messi      93
3rd  CF           Neymar      92

## Wine Reviews dataset

In [3]:
reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col =0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')