In [1]:
import pandas as pd

In [2]:
data={'Position': ['GK','GK','GK', 'DF','DF','DF','MF','MF','MF','CF','CF','CF'],
       'Name': ['De Gea', 'Coutois', 'Allison', 'Chiellini','Ramos','Godin','Hazard','Kante','De Bruyne','Ronaldo','Messi','Neymar'],
       'Overall': ['91','88','89','89','91','90','91','90','92','94','93','92'],
       'Rank': ['1st','3rd','2nd','3rd','1st','2nd','2nd','3rd','1st','1st','2nd','3rd']}

In [3]:
fifa19=pd.DataFrame(data, columns=['Position','Name','Overall','Rank'])

In [4]:
fifa19

   Position       Name Overall Rank
0        GK     De Gea      91  1st
1        GK    Coutois      88  3rd
2        GK    Allison      89  2nd
3        DF  Chiellini      89  3rd
4        DF      Ramos      91  1st
5        DF      Godin      90  2nd
6        MF     Hazard      91  2nd
7        MF      Kante      90  3rd
8        MF  De Bruyne      92  1st
9        CF    Ronaldo      94  1st
10       CF      Messi      93  2nd
11       CF     Neymar      92  3rd

In [5]:
fifa19=fifa19.set_index(['Position','Rank'])

In [6]:
fifa19.index

MultiIndex(levels=[['CF', 'DF', 'GK', 'MF'], ['1st', '2nd', '3rd']],
           codes=[[2, 2, 2, 1, 1, 1, 3, 3, 3, 0, 0, 0], [0, 2, 1, 2, 0, 1, 1, 2, 0, 0, 1, 2]],
           names=['Position', 'Rank'])

In [7]:
fifa19.index

MultiIndex(levels=[['CF', 'DF', 'GK', 'MF'], ['1st', '2nd', '3rd']],
           codes=[[2, 2, 2, 1, 1, 1, 3, 3, 3, 0, 0, 0], [0, 2, 1, 2, 0, 1, 1, 2, 0, 0, 1, 2]],
           names=['Position', 'Rank'])

In [8]:
fifa19.sort_index()

                    Name Overall
Position Rank
CF       1st     Ronaldo      94
         2nd       Messi      93
         3rd      Neymar      92
DF       1st       Ramos      91
         2nd       Godin      90
         3rd   Chiellini      89
GK       1st      De Gea      91
         2nd     Allison      89
         3rd     Coutois      88
MF       1st   De Bruyne      92
         2nd      Hazard      91
         3rd       Kante      90

In [9]:
fifa19.loc[['GK','MF']]

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92

In [10]:
fifa19.loc[(slice(None),'1st'),:]

                    Name Overall
Position Rank
GK       1st      De Gea      91
DF       1st       Ramos      91
MF       1st   De Bruyne      92
CF       1st     Ronaldo      94

In [14]:
fifa19.loc[(slice(None),'2nd'),:]

                  Name Overall
Position Rank
GK       2nd   Allison      89
DF       2nd     Godin      90
MF       2nd    Hazard      91
CF       2nd     Messi      93

In [15]:
fifa19.loc['GK']

         Name Overall
Rank
1st    De Gea      91
3rd   Coutois      88
2nd   Allison      89

In [16]:
fifa19.loc[('GK', '1st')]

Name       De Gea
Overall        91
Name: (GK, 1st), dtype: object

In [17]:
fifa19.loc[('GK','2nd'), 'Overall']

'89'

In [18]:
fifa19.loc[('GK','3rd'),['Name','Overall']]

Name       Coutois
Overall         88
Name: (GK, 3rd), dtype: object

In [23]:
fifa19.loc[['GK','MF']]

                    Name Overall
Position Rank
GK       1st      De Gea      91
         3rd     Coutois      88
         2nd     Allison      89
MF       2nd      Hazard      91
         3rd       Kante      90
         1st   De Bruyne      92

In [24]:
fifa19.loc[(['GK','MF'],'1st'),:]

                    Name Overall
Position Rank
GK       1st      De Gea      91
MF       1st   De Bruyne      92

In [25]:
fifa19.loc[(['GK','MF'],'3rd'), 'Name']

Position  Rank
GK        3rd     Coutois
MF        3rd       Kante
Name: Name, dtype: object

In [26]:
fifa19.loc[('GK',['1st','3rd']),:]

                  Name Overall
Position Rank
GK       1st    De Gea      91
         3rd   Coutois      88